#note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 1px 1px;
}

*[contenteditable="true"] {
    outline: none;
}

#main {
    display: flex;
    flex-direction: row;
}

#explorer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    width: auto;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 1px 1px;
    margin-right: 20px;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#results {
    width: 100%;
}

.linkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.linkbox p {
    margin: 1px;
}

#links {
    width: 90%;
    margin: auto;
}