<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Zettel</title>
</head>
<body>
        <div id="explorer">
                <nav>
            <button onclick="createNote()">+</button>
        </nav>
            <input type="text" id="searchbox" placeholder="Search">
            <div id="results"></div>
        </div>
    <div class="side">
        <div id="main">
            <div id="note">
                <!-- <div id="top">
                    <h1 id="title" contenteditable="true">Title</h1>
                    <button onclick="save()">Save</button>
                </div>
                
                <p id="content" contenteditable="true">Content</p>
                <div id="links"></div> -->
            </div>
        </div>
    </div>
    <script src="note.js"></script>
    <script src="search.js"></script>
    <script src="script.js"></script>
</body>
</html>